body {
  font-family: 'PT Sans', sans-serif;
  width: 700px;
  margin: 0 auto;
  /*background-image: url(../images/mockup.jpg);
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;*/
}

h1, h2, h3 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}

h1 {
  margin-top: 70px;
  font-size: 40px;
  margin-bottom: 3px;
  line-height: 30px;
}

h1 + p {
  color: rgba(0,0,0, .4);
  line-height: 30px;

}
p {
  font-size: 20px;
  line-height: 36px;

}

h3 {
  line-height: 32px;
  font-size: 25px;
  /*margin-top: 6px;*/
  margin-top: 22px;

}
h3 + p {
  margin-top: 2px;
}

p + p {
  margin-top: 28px;
}

h1 + p + p {
  margin-top: 33px;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

h2 {
  font-size: 28px;
  margin-top: 31px;
  margin-bottom: 5px;

}

ul {
  line-height: 36px;
  list-style: disc;
  margin-top: 14px;
  margin-left: 20px;
}

#p01 {
  border-left: 4px solid;
  padding-left: 15px;
  font-size: 20px;
  line-height: 36px;
  font-style: italic;
  margin-top: 32px;
  margin-bottom: 50px;
}

blockquote {
  font-size: 20px;
  line-height: 36px;
  font-style: italic;
  margin-top: 32px;
  margin-bottom: 50px;
}
