.square {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: width 2s, height 3s;
  /* transition: all 3s; */
  overflow: hidden;

}

.square:hover {
  width: 300px;
  height: 300px;

}

.square h1 {
  font-size: 30px;
  line-height: 100px;
  margin: 0;
}
